<agm-map *ngIf="!mapError" [zoom]="zoom" [latitude]="lat" [longitude]="lng" (agmMapReady)="onMapReady($event)">
  <!-- Driver Marker -->
  <agm-marker [latitude]="selectedDriver?.location?.lat" 
              [longitude]="selectedDriver?.location?.lng"
              [label]="selectedDriver?.name[0]">
    <!-- Info Window -->
    <agm-info-window>
      <div>
        <h3>{{ selectedDriver?.name }}</h3>
        <h4>{{ selectedDriver?.phone }}</h4>
      </div>
    </agm-info-window>
  </agm-marker>
  <!-- Task Marker -->
  <agm-marker *ngFor="let task of selectedDriver?.tasks" [latitude]="task?.location.lat" [longitude]="task.location.lng" [label]="task.id" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'">
    <agm-info-window>
      <strong>{{ task.id }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>

<div *ngIf="mapError">
  {{ errorMessage }}
</div>