
<div class="container">

    <ng-container *ngIf="loading; else groupInfo">
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-template class="group-info" #groupInfo>
      <table mat-table [dataSource]="drivers" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let driver"> {{driver.name}} </td>
        </ng-container>
      
        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let driver"> <img class="driver-image" src="assets/images/driver-icon.png"> </td>
        </ng-container>
      
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let driver"> {{driver.phone}} </td>
        </ng-container>
      
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let driver"> {{driver.email}} </td>
        </ng-container>
      
        <!-- Tasks Column -->
        <ng-container matColumnDef="tasks">
          <th mat-header-cell *matHeaderCellDef>Tasks</th>
          <td mat-cell *matCellDef="let driver">{{ driver.tasks?.length || 0 }}</td>
        </ng-container>
      
        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let driver"> 
            <button mat-icon-button (click)="onEdit(driver)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let driver"> 
            <button mat-icon-button (click)="onDelete(driver)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <!-- Column Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
            (click)="onRowClick(row)"
            [ngClass]="{'active': row.id === selectedDriver.id}"
            *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </ng-template>



    <app-map-controller [selectedDriver]="selectedDriver"></app-map-controller>

</div>
