.driver-image {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
  
h1 {
    text-align: center;
} 
  
.mat-mdc-row:hover .mat-mdc-cell, .active {
    background-color: rgba(0, 0, 0, .1);
}
  
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 400px;
}

.msg-1 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.spinner {
    margin: auto;
}

app-map-controller {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

@media (max-width: 1024px) {
    .container { 
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media (max-width: 1024px) {
    .container { 
        gap: 80px; 
    }
}